<div id="app-user-areas-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>{{ 'Area List Title' | translate }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-info" (click)="createNew()">{{'Create New' | translate}}</button>
      </div>
    </div>
    <br/>

    <hr/>

    <div class="row">

      <div class="col-xl-8"
           style="padding-bottom: 5px">
        <label for="searchStringInput">{{'Table Header.Name' | translate}}</label>
        <input type="text" id="searchStringInput" class="form-control"
               placeholder="{{'Add Area Page.Placeholders.Area Name'| translate}}"
               name="searchStringInputName" #searchStringInput="ngModel" [(ngModel)]="searchString">
      </div>
      <div class="col-xl-2"
           style="padding-bottom: 5px">

        <div class="form-group">
          <label for="isConfirmedDropDown">{{'Table Header.Confirmed' | translate}}:</label>
          <select class="form-control" id="isConfirmedDropDown" #isConfirmedDropDown="ngModel" [(ngModel)]="confirmedFilter">
            <option value="null" selected>{{'All'| translate}}</option>
            <option value="true">{{'Confirmed'| translate}}</option>
            <option value="false">{{'Not Confirmed'| translate}}</option>
          </select>
        </div>

      </div>
      <div class="col-xl-2"
           style="padding-bottom: 5px; margin-top:30px;">
        <button class="btn btn-info" (click)="loadAvailableAreas()">{{'Search' | translate}}</button>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <td>{{'Table Header.Name' | translate}}</td>
          <td>{{'Table Header.Confirmed' | translate}}</td>
          <td>{{'Table Header.Actions' | translate}}</td>
          </thead>
          <tbody>
          <tr *ngFor="let area of areas">
            <td>{{area.name}}</td>
            <td>{{(area.isConfirmed ? 'Yes' : 'No') | translate}}</td>
            <td>
              <button class="btn btn-success" (click)="showDetails(area.id)">{{'Details' | translate}}</button>
              <button class="btn btn-info" (click)="editZone(area.id)">{{'Edit' | translate}}</button>
              <button class="btn btn-danger" (click)="delete(area)">{{'Delete' | translate}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
