<div id="app-user-areas-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>Areas List</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-info" (click)="createNew()">Create New</button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <td>Id</td>
          <td>Name</td>
          <td>Confirmed</td>
          <td>Actions</td>
          </thead>
          <tbody>
          <tr *ngFor="let area of areas">
            <td>{{area.id}}</td>
            <td>{{area.name}}</td>
            <td>{{area.isConfirmed ? 'Yes' : 'No'}}</td>
            <td>
              <button class="btn btn-success" (click)="showDetails(area.id)">Details</button>
              <!--<button class="btn btn-warning" (click)="edit(area)">Edit</button>-->
              <button class="btn btn-danger" (click)="delete(area)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
