<div id="app-user-areas-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>{{ 'Area List Title' | translate }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-info" (click)="createNew()">{{'Create New' | translate}}</button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <td>{{'Table Header.Id' | translate}}</td>
          <td>{{'Table Header.Name' | translate}}</td>
          <td>{{'Table Header.Confirmed' | translate}}</td>
          <td>{{'Table Header.Actions' | translate}}</td>
          </thead>
          <tbody>
          <tr *ngFor="let area of areas">
            <td>{{area.id}}</td>
            <td>{{area.name}}</td>
            <td>{{(area.isConfirmed ? 'Yes' : 'No') | translate}}</td>
            <td>
              <button class="btn btn-success" (click)="showDetails(area.id)">{{'Details' | translate}}</button>
              <button class="btn btn-danger" (click)="delete(area)">{{'Delete' | translate}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
