<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{"Add Filter Modal.Page Title" | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #addFilterForm="ngForm">
      <div class="form-group">
        <label for="droneTypeInput">{{"Add Filter Modal.Form.Drone Type" | translate}}</label>
        <select type="text" class="form-control" id="droneTypeInput" placeholder="Select drone type"
               name="droneTypeInputName" #droneTypeInput="ngModel" [(ngModel)]="entity.droneType" required>
          <option *ngFor="let opt of availableDroneTypes" value="{{opt.value}}">{{("Drone Types." + opt.display) | translate}}</option>
        </select>

        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="droneTypeInput.errors && $submitted">
            <p [hidden]="!droneTypeInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="maxAvailableWeigthInput">{{"Add Filter Modal.Form.Max Available Weigth" | translate}}</label>
        <input type="number" class="form-control" id="maxAvailableWeigthInput" placeholder="Enter max available weight"
               name="maxAvailableWeigthInputName" #maxAvailableWeigthInput="ngModel" [(ngModel)]="entity.maxAvailableWeigth" required>

        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="maxAvailableWeigthInput.errors && $submitted">
            <p [hidden]="!maxAvailableWeigthInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="weigthInput">{{"Add Filter Modal.Form.Drone Weigth" | translate}}</label>
        <input type="number" class="form-control" id="weigthInput" placeholder="Enter drone weigth"
               name="weigthInputName" #weigthInput="ngModel" [(ngModel)]="entity.maxDroneWeigth" required>

        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="weigthInput.errors && $submitted">
            <p [hidden]="!weigthInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="weigthInput">{{"Add Filter Modal.Form.Max Drone Speed" | translate}}</label>
        <input type="number" class="form-control" id="maxSpeeedInput" placeholder="Enter max speed"
               name="maxSpeeedInputName" #maxSpeeedInput="ngModel" [(ngModel)]="entity.maxDroneSpeed" required>

        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="maxSpeeedInput.errors && $submitted">
            <p [hidden]="!maxSpeeedInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
          </span>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveOrEdit(addFilterForm)">
      {{"Save" | translate}}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="cancelClose()">{{"Cancel" | translate}}</button>
  </div>
</ng-template>
