<div id="app-add-area-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>Add Area Request</h2>
      </div>
    </div>

    <br/>
    <hr/>

    <form #addZoneForm="ngForm">
      <div class="form-group">
        <label for="nameInput"><strong>Area Name</strong></label>
        <input type="text" class="form-control" id="nameInput" placeholder="Enter area name"
               name="nameInputName" #nameInput="ngModel" [(ngModel)]="entity.zoneName" required>

        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="nameInput.errors && $submitted">
            <p [hidden]="!nameInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="googleMap"><strong>Zone on the map</strong></label>
        <div #gmap style="width:100%;height:400px" id="googleMap"></div>
      </div>
    </form>

    <hr/>

    <button class="btn btn-warning" (click)="saveArea()">Save Area</button>

  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
