<div id="app-admin-drone-list-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>Drones List</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-info" (click)="generate()">Generate Drones</button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <td>Code</td>
          <td>Type</td>
          <!--<td>Actions</td>-->
          </thead>
          <tbody>
          <tr *ngFor="let drone  of drones">
            <td>{{drone.code}}</td>
            <td>{{getDroneTypePresentation(drone.type)}}</td>
            <!--<td>-->
              <!--<button class="btn btn-success" (click)="showDetails(drone.id)">Details</button>-->
            <!--</td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
