
#content-data-holder {
  padding-top: 60px;
  position: relative;
}


.al-main {
  margin-left: 210px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: lightgreen;
}

thead{
  background: lightgreen;
  color: darkblue;
  font-weight: bold;
}
