<div id="app-user-drone-list-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2> {{"Drone List Page.Page Title" | translate }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-info" (click)="createNew()">{{"Drone List Page.Add Drone" | translate }}</button>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <td>{{"Table Header.Id" | translate }}</td>
          <td>{{"Table Header.Drone Type" | translate}}</td>
          <td>{{"Table Header.Actions" | translate}}</td>
          </thead>
          <tbody>
          <tr *ngFor="let drone  of drones">
            <td>{{drone.id}}</td>
            <td>{{("Drone Types." + getDroneTypePresentation(drone.type)) | translate}}</td>
            <td>
              <button class="btn btn-warning" (click)="delete(drone.id)">{{"Drone List Page.Detach" | translate}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
