@import '../../../../styles/sass/conf/conf';

.logo-box {
  height: 70px;
  background: #42579A;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  color: darkblue;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.menu-collapsed {
  .logo-box {
  }
}
