<div id="app-add-area-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/>
        <h2>Attach Drone</h2>
      </div>
    </div>

    <br/>
    <hr/>

    <form #addDroneForm="ngForm">
      <div class="form-group">
        <label for="nameInput"><strong>Drone Code</strong></label>
        <input type="text" class="form-control" id="nameInput" placeholder="Enter code attached to your drone"
               name="nameInputName" #nameInput="ngModel" [(ngModel)]="droneCode" required>

        <br/>
        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="nameInput.errors && $submitted">
            <p [hidden]="!nameInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
        </div>
      </div>
    </form>

    <hr/>

    <button class="btn btn-warning" (click)="addDrone()">Add</button>

  </div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
