<div id="app-area-details-page">
  <div class="row">
    <div class="col-md-12">
      <br/><br/>
      <h2>{{ 'Area Details Page.Page Title' | translate }}</h2>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-info" (click)="goToFilters()">{{ 'Area Details Page.Go To Area Filters' | translate }}</button>
      <button class="btn btn-info" *ngIf="!hasActiveEditRequest()" (click)="goToEdit()">{{'Edit' | translate}}</button>
      <button class="btn btn-info" *ngIf="hasActiveEditRequest()" (click)="goToEditingRequest()">{{'Open Editing Request' | translate}}</button>
    </div>
  </div>

  <hr/>

  <div class="form-group">
    <label for="name"><strong>{{ 'Area Details Page.Area Details.Area Name' | translate }}</strong></label>
    <p id="name">{{area.name}}</p>
  </div>

  <div class="form-group">
    <label for="googleMap"><strong>{{ 'Area Details Page.Area Details.Zone Name' | translate }}</strong></label>
    <div #gmap style="width:100%;height:400px" id="googleMap"></div>
  </div>


</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
