<div id="app-area-details-page">
  <div class="row">
    <div class="col-md-12">
      <br/><br/>
      <h2>Area Details</h2>
    </div>
  </div>

  <hr/>
  <button class="btn btn-info" (click)="goToFilters()">Go To Area Filters</button>
  <hr/>

  <div class="form-group">
    <label for="name"><strong>Area Name</strong></label>
    <p id="name">{{area.name}}</p>
  </div>

  <div class="form-group">
    <label for="googleMap"><strong>Zone on the map</strong></label>
    <div #gmap style="width:100%;height:400px" id="googleMap"></div>
  </div>


</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>
