<div class="container" id="app-registration-page">

  <form class="form-horizontal" #registrationForm="ngForm">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>{{"Registration Page.Page Title" | translate}}</h2>
        <br/>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="emailInput">{{"Registration Page.Form.Email" | translate}}</label>
          <input type="email" class="form-control" id="emailInput" name="email"
                 placeholder="{{'Registration Page.Placeholders.Email' | translate}}"
                 required email autofocus [(ngModel)]="entity.email" #emailInput="ngModel">

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="emailInput.errors && $submitted">
            <p [hidden]="!emailInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
            <p [hidden]="!emailInput.errors.email" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Valid Email Required" | translate}}
            </p>
          </span>
          </div>
        </div>

        <div class="form-group">
          <label for="passwordInput">{{"Registration Page.Form.Password" | translate}}</label>
          <input type="password" class="form-control" id="passwordInput" name="password"
                 placeholder="{{'Registration Page.Placeholders.Password' | translate}}"
                 required minlength="6" [(ngModel)]="entity.password"  #passwordInput="ngModel" >

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="passwordInput.errors && $submitted">
            <p [hidden]="!passwordInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
            <p [hidden]="!passwordInput.errors.minlength" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Length More That 6" | translate}}
            </p>
          </span>
          </div>
        </div>

        <div class="form-group">
          <label for="firstNameInput">{{"Registration Page.Form.First Name" | translate}}</label>
          <input type="text" class="form-control" id="firstNameInput" name="firstName"
                 placeholder="{{'Registration Page.Placeholders.First Name' | translate}}"
                 required [(ngModel)]="entity.firstName" #firstNameInput="ngModel">

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="firstNameInput.errors && $submitted">
            <p [hidden]="!firstNameInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> {{"Form Validation.Field Is Required" | translate}}
            </p>
          </span>
          </div>
        </div>

        <div class="form-group">
          <label for="lastNameInput">{{"Registration Page.Form.Last Name" | translate}}</label>
          <input type="text" class="form-control" id="lastNameInput" name="lastName"
                 placeholder="{{'Registration Page.Placeholders.Last Name' | translate}}"
                 [(ngModel)]="entity.lastName" #lastNameInput="ngModel">
        </div>

        <button class="btn btn-primary" (click)="register()"><i class="fa fa-sign-up"></i>{{"Registration Page.Buttons.Register" | translate}}</button>
      </div>
    </div>
  </form>
</div>
